.modern-button {
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.save-button-dashboard {
    -fx-background-color: #22c55e;
    -fx-text-fill: white;
}

.save-button-dashboard:hover {
    -fx-background-color: #16a34a;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.save-button-dashboard:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-background-color: #15803d;
}

.save-button-profile {
    -fx-background-color: #dc2626;
    -fx-text-fill: white;
}

.save-button-profile:hover {
    -fx-background-color: #b91c1c;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.save-button-profile:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-background-color: #991b1b;
}
